			body {
				margin-top: 50px;
				background: none;
              	font-family: 'Roboto Condensed', sans-serif;
              	color: #6B6765;
				border: none !important;
            }
            
            .container {
                width: 100%;
				height: 100%;
                margin: 0 auto;
            }
            
            /* Set Bootstrap navbar to a white background */
            .navbar {
				text-align: center !important;
				padding-bottom: 15px;
                background-color: #ffffff;
                border-style: none !important;

            }

			.navbar-bottom {
				background-color: #6B6765 !important;
				color: white !important;

			}
			.navbar-bottom a {
				color: white !important;

			}

          
            /* Add top padding and shift the top navigation to the right */
            .navbar-right{
				display: inline-block !important;
				float: none !important;
				vertical-align: top !important;
            }/* end */

			.signin-navbar {
				float: right !important;
			}

            /* Styling cursive text to the side of Swiftceipt header */
            .motto {
                font-family: 'Indie Flower', cursive;
                text-align: center;
                padding-left: 15.5em;
                color: #59AC98;
            } /* end */

            
            /* Make form input square */
            .form-control {
                border-radius: 0px !important;
				box-shadow: none !important;
            }/* end */
            
            
            /* Button styling changes */
            .btn {
                border-radius: 0px !important;
				box-shadow: none !important;

            }

			.btn .btn-primary:focus {
				box-shadow: none !important;
			}
            
            /* btn-primary = navbar signin button */
            .btn-primary {
                background-color: #F95722 !important;
                border-color: #F95722 !important;
                margin-top: 1em;
				box-shadow: none !important;
            }
            
            .btn-primary:hover {
                background-color: #F93D00 !important;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
				position: relative;
				top: -2px;
            }
            
            /* btn-success = form buttons */
            .btn-success {
                background-color: #F95722 !important;
                border-color: #F95722 !important;
				box-shadow: none !important;
            }
            
            .btn-success:hover {
                background-color: #F93D00 !important;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
				position: relative;
				top: -2px;
            }/* end Button styling changes */
            
            /* Increase font size of the navbar */
            div.container nav.navbar div.collapse ul.nav a {
                /*font-size: larger !important;*/
                font-size: 15pt;
            }/* end */
            
            /* Enable underline effect when mouse hovers over navbar menu link */
            div.container nav.navbar div.collapse ul.nav a:hover {
                color: #59AC98 !important;
            } /* end */


            /* Begin changes to registration input form */          
            .form-group input:focus{
                border-color: #F95722 !important;
                box-shadow: none !important;  
            }
            
             .form-group input:hover {
                border-color: #F95722 !important;    
            } /* end */


            /* Styling for when a navigation menu link is set to active: underline with teal font color */ 
            .active a  {
                background-color: #F5F9F8 !important;
                color: #59AC98 !important;
                text-decoration: underline !important;
            } /* end */
             
            .css-table-wrapper {
               display: table;
               border-spacing:40px 0;
               margin: 0 auto;
            }
            
            .css-table-wrapper .column {
               display: table-cell;
               height: 100%;
            }

            /* Center navbar */    
            @media (min-width: 768px) {
				.navbar .navbar-nav {
					display: inline-block;
					float: none;
				}

				.navbar .navbar-collapse {
					text-align: center;
				}
			}
               
            /* Highlighted orange & bold words in the card headers*/
            span.text-orange {
                color: #F93D00 !important;
            } /* end  */
            
            /* Highlighted teal in .teamText about.html headers*/
            span.text-teal {
            	color: #59AC98;
            } /* end */


		    .teamText {
		    	width: 300px;
		    	height: auto;
		    	display: inline;
		    	float: right;		    	
		    }
		    
		    .teamPhotos {
		    	width: 140px;
		    	height: auto;
		    	display: inline;
		    }
		    
		    .teamPhotos > img {
		    	margin-top: 24px;
		    } /* end about.html .aboutContainer styling */
		    
		    
		    .videoRegContainer {
		    	/*height: 35em;*/
		    	width: 85em;
		    	height: 30em;
		    	margin: 0 auto;
		    	position: relative !important;
		    }
		    
		      	/* Video content */  
              .video-content {
				display: inline-block !important;
		        padding: 0.5em;
				float: left;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
			
			 } /* end */
		    
		    .form-content {	    	
		    	float: right;
		    	padding-top: 5em;
		    }
		    
		    .formSize {
		    	width: 40em;
		    	min-width: 25em;
		    	
		    }
	    
			.content {
			  -webkit-animation-duration: 0.4s;
			  animation-duration: 0.4s;
			  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
			  -webkit-animation-name: slideUp;
			  animation-name: slideUp;
			  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
			 }
			
			@-webkit-keyframes slideUp {
			  0% {
			    -webkit-transform: translateY(6.25rem);
			    transform: translateY(6.25rem); 
			   }
			
			  100% {
			    -webkit-transform: translateY(0);
			    transform: translateY(0); } }
			@keyframes slideUp {
			  0% {
			    -webkit-transform: translateY(6.25rem);
			    transform: translateY(6.25rem); }
			
			  100% {
			    -webkit-transform: translateY(0);
			    transform: translateY(0); } }
			    
			    
			    
			    /*Full Name form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#firstName {
				    background-image: url(../images/fullname-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#firstName:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}

			/*Full Name form input icon
			icon height: 10.441px
			50% gray*/
			input#lastName {
				background-image: url(../images/fullname-content.png);
				background-position: 10px center;
				background-repeat: no-repeat;
				border: 1px solid #ccc;

				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				-ms-border-radius: 4px;
				-o-border-radius: 4px;
				border-radius: 4px;

				padding: 10px 5px;
				text-indent: 28px;

				-webkit-transition: all 0.2s;
				-moz-transition: all 2s;
				transition: all 0.2s;
			}

			input#lastName:focus {
				/* Picked a random icon from Google */
				background-position: -20px center;
				text-indent: 0;

			}
			    
			    
			    /*Email form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputEmail {
				    background-image: url(../images/mail-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputEmail:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}
				
				/*Password form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputPassword, input#inputConfPassword {
				    background-image: url(../images/password-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputPassword:focus, input#inputConfPassword:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}
				
					
				/*Phone form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputPhone {
				    background-image: url(../images/phone-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputPhone:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				}
				
				.contact-container { 
					margin-top: -68px
				}
				
				/* Contact-content styling */
				#contact {
					float: none;
					width: 600px;
					margin: 0 auto;
					padding-left: 24px;
				} /* end */		
				
				/* Comment section: added a text area box and styled it to match the forms */
				form.form-content div.form-group textarea:focus{
	                border-color: #F95722 !important;
	                box-shadow: none !important;  
	            }
	            
	            form.form-content div.form-group textarea:hover {
	                border-color: #F95722 !important;  
	            } /* end */
	            

				/* Social media icon styling */
				#facebook-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 3px;
				}
				
				#facebook > path:hover {
					fill:  #3B5998 !important;
				}
				
				#twitter-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 3px;
				
				}
				
				#twitter-icon  path:hover {
					fill:  #33CCFF !important; 
				} 
				
				#googleplus-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 5px;
				}
				
				#googleplus g path:hover {
					fill:  #DC4A38 !important;
				}
				
				#linkedin-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 7px;
				}
				
				#linkedin > path:hover {
					fill:  #4875B4 !important;
				}
				/* end */

				
				.downloadContainer #appstore-icon  {
					bottom: 0;
					margin: 0 auto;
					width: 136px;
					height: 43px;
				} /* end */


				
				.bottomheader-content h2 {
					padding-left: 26px;
				}


				.navbar-bottom {
					height: auto;
					margin: 0 auto;
					width: 100%;
				}

				.panel-images {
					background-image: url("../images/hand-w-w-register.png");
					background-size: cover;
					height: 100%;
					background-repeat: no-repeat;
				}

				.error-image {
					background-image: url("../images/crumpled paper1.png");
					background-position: center;
					background-size: contain;
					padding: 10em;
					background-repeat: no-repeat;
				}

				.info-image {
					background-image: url("../images/swfitceipt_info.png");
					background-position: center;
					background-size: 75% auto;
					height: 100%;
					background-repeat: no-repeat;
				}


				.list-panel {
					max-width: 100%;
					height: 30em;
				}

				.download-panel {
					max-width: 100%;
					background-color: #6B6765;
					height: 20em;
				}

				.form-panel {
					width: 100%;
					height: 100%;
					max-width: 650px;
					padding-left: 4em;
					padding-right: 4em;
					padding-top: 10em;
					padding-bottom: 12em;
				}

				.info-image-panel {
					height: 100em;
					background-color: #59AC98;
					padding-top: 3%;
				}

				.content-signup-panel {
					background-color: white;
					height: 30em;
					padding-top: 5%;
				}

			.content-panel {
				margin: 0 auto;
				width: 50%;
				padding-top: 10%;
			}

			.content-list {
				margin: 0 auto;
				height: 100%;
				padding-top: 9em;
			}

			.content-signup-panel {
				padding-top: 10em;
			}


			/* Below are the styles for the landing page text headers and list */
			.xlg-orange-txt {
				font-size: 3.66em;
				font-weight: bolder;
				color: #F95722;
			}

			.lg-white-txt {
				font-size: 2.66em;
				font-weight: bolder;
				color: #ffffff;
			}

			.md-teal-txt {
				font-size: 1.66em;
				color: #59AC98;
			}

			.list-txt-size {
				font-size: 1.05em;
			}

			.lg-black-txt {  font-size: 2.66em;
				color: #6B6765;
			}

			.red-txt {
				color: red;
			}

			div.transbox {
				margin: 30px;
				padding: 2em;
				border: none;
				background: rgba(175, 175, 175, 0.45);
			}


			.form-control.ng-dirty.ng-invalid-required {
				background: rgba(255, 0, 0, 0.2);

			}

			.form-control.ng-invalid-email {
				background: rgba(255, 25, 25, 0.2);
			}

			.form-control.ng-invalid-minlength {
				background: rgba(255, 25, 25, 0.2);

			}


			@media screen and (min-width: 1494px) {
				.content-panel {
					margin: 0 auto;
					max-width: 700px;
					padding-top: 14em;
				}
				.main-panel {
					height: 800px;
					max-height: 800px;
				}

				.info-image {
					background-position: center;
					background-size: 800px 1200px;
					height: 100%;
					background-repeat: no-repeat;
				}

				.info-image-panel {
					max-height: 1400px;
				}

			}

			@media screen and (max-width: 1494px) {
				.content-panel {
					margin: 0 auto;
					min-width: 650px;
					padding-top: 10em;
				}

				.info-image {
					background-position: center;
					background-size: 800px 1200px;
					height: 100%;
					background-repeat: no-repeat;
				}

				.info-image-panel {
					max-height: 1400px;
					min-width: 850px;
				}

				.main-panel {
					height: 690px;
					min-height: 390px;
				}

			}


			@media screen and (max-width: 919px) {
				.info-image {
					background-position: center;
					background-size: 700px 1000px;
					height: 100%;
					background-repeat: no-repeat;
				}
			}

			@media screen and (max-width: 767px) {
				.content-panel {
					margin: 0 auto;
					min-width: 600px;
					padding-top: 10em;
				}

				.main-panel {
					height: 690px;
					min-height: 390px;
				}

				.list-panel {
					padding-bottom: 65em;
				}

				.info-image {
					background-position: center;
					background-size: 550px 1000px;
					height: 100%;
					background-repeat: no-repeat;
				}

				.info-image-panel {
					max-height: 1200px;
					min-width: 600px;
				}

				.signin-navbar {
					float: none !important;
					padding-bottom: 5em;
				}

				.form-panel {
					padding-top: 5em;
				}

			}

			@media screen and (max-width: 689px) {
				.info-image {
					background-position: center;
					background-size: 450px 1000px;
					height: 100%;
					background-repeat: no-repeat;
				}

				.info-image-panel {
					max-height: 1200px;
					min-width: 500px;
				}

				.content-panel {
					margin: 0 auto;
					min-width: 500px;
					padding-top: 10em;
				}
			}


			@media screen and (max-width: 500px) {

				.content-panel {
					margin: 0 auto;
					min-width: 350px;
					padding-top: 15em;
				}

				.info-image {
					background-position: center;
					background-size: 350px 850px;
					height: 100%;
					background-repeat: no-repeat;
				}

				.info-image-panel {
					max-height: 1000px;
					min-width: 300px;
				}


				.list-panel {
					padding-bottom: 65em;
				}

				.btn {
					font-size: 1.2em;
				}

				.content-panel ul {
					font-size: 45%;

				}

				.form-panel {
					padding-top: 6em;
					padding-bottom: 6em;
				}
			}