			body {
				margin-top: 50px;
				background: none;
              	font-family: 'Roboto Condensed', sans-serif;
              	color: #6B6765;
            }
            
            .container {
                width: 100%;
				height: 100%;
                margin: 0 auto;
            }
            
            /* Set Bootstrap navbar to a white background */
            .navbar {
				text-align: center !important;
				padding-bottom: 15px;
                background-color: #ffffff;
                border-style: none !important;

            }

			.navbar-bottom {
				background-color: #6B6765 !important;
				color: white !important;

			}
			.navbar-bottom a {
				color: white !important;

			}
            
            .swiftceiptHeader {
            	margin-left: 100px;
            }
            
            .logo {
            	margin: 0 auto;
            	padding-bottom: 0.5em;
            	padding-top: 0.5em;
            } /* end styling SwiftCeipt logo */

          
            /* Add top padding and shift the top navigation to the right */
            .navbar-right{
				display: inline-block !important;
				float: none !important;
				vertical-align: top !important;
            }/* end */

			.signin-navbar {
				float: right !important;
			}
	    
		    /*Dropdown header text */
		    #dropdown_header_text {
		      text-align: left !important;
		      font-size: x-large;
		    }
            
            /* Styling cursive text to the side of Swiftceipt header */
            .motto {
                font-family: 'Indie Flower', cursive;
                text-align: center;
                padding-left: 15.5em;
                color: #59AC98;
            } /* end */
            
			/* Styling for the container with the Learn More link */
            .bottom-header {
                padding: 1pt;
            }
            
            /* Make form input square */
            .form-control {
                border-radius: 0px !important;
				box-shadow: none !important;
            }/* end */
            
            
            /* Button styling changes */
            .btn {
                border-radius: 0px !important;
				box-shadow: none !important;

            }

			.btn .btn-primary:focus {
				box-shadow: none !important;
			}
            
            /* btn-primary = navbar signin button */
            .btn-primary {
                background-color: #F95722 !important;
                border-color: #F95722 !important;
                margin-top: 1em;
				box-shadow: none !important;
            }
            
            .btn-primary:hover {
                background-color: #F93D00 !important;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
				position: relative;
				top: -2px;
            }
            
            /* btn-success = form buttons */
            .btn-success {
                background-color: #F95722 !important;
                border-color: #F95722 !important;
				box-shadow: none !important;
            }
            
            .btn-success:hover {
                background-color: #F93D00 !important;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
				position: relative;
				top: -2px;
            }/* end Button styling changes */
            
            
            /* #learnmorelink btn-success = form buttons */
            #learnmorelink.btn-success {
            	font-size: 18pt;
                background-color: #59AC98 !important;
                border-color: #59AC98 !important;
            }
            
            #learnmorelink.btn-success:hover {
            	font-size: 19pt;
                background-color: #4D9685 !important; 
            }/* end Button styling changes */
            
            
            /* Increase font size of the navbar */
            div.container nav.navbar div.collapse ul.nav a {
                /*font-size: larger !important;*/
                font-size: 15pt;
            }/* end */
            
            /* Enable underline effect when mouse hovers over navbar menu link */
            div.container nav.navbar div.collapse ul.nav a:hover {
                color: #59AC98 !important;
            } /* end */
            
                     
            /* Begin changes to registration input form */          
            .form-group input:focus{
                border-color: #F95722 !important;
                box-shadow: none !important;  
            }
            
             .form-group input:hover {
                border-color: #F95722 !important;    
            } /* end */
            

            /* Styling for when a navigation menu link is set to active: underline with teal font color */ 
            .active a  {
                background-color: #F5F9F8 !important;
                color: #59AC98 !important;
                text-decoration: underline !important;
            } /* end */
             
            .css-table-wrapper {
               display: table;
               border-spacing:40px 0;
               margin: 0 auto;
            }
            
            .css-table-wrapper .column {
               display: table-cell;
               height: 100%;
            }

            /* Center navbar */    
            @media (min-width: 768px) {
                .navbar .navbar-nav {
                    display: inline-block;
                    float: none;
                }
                .navbar .navbar-collapse {
                    text-align: center;
                }
            }
            
            /* Enterprise content section*/ 
            .enterpriseContent p {
            	 color: #6B6765;
            }
            
           .enterpriseContent {
           		position: relative !important;
				margin: 0 auto;
				display:block;
				margin-top: 10pt;
				padding: 12px;
				height: 1450px;
				width: 700px;
				vertical-align: top;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);	
           }
           
            .enterpriseContent h2 {
		    	font-size: 25pt;
				text-align: left;    
		    } /* end */
		    
		   	.enterpriseContent p {
              font-size: 16pt;
              text-align: left;
            } /* end */
           
           #enterpriseContentSections {
           	   	padding-top: 50px;
		    	padding-bottom: 10px;
           }
           
           /* The paragraph sections in individual cards */ 
           .learnContent p {
                color: #6B6765;
            } /* end */
               
            /* Landing page learn more card content styling */
		    .learnContent {
				position: relative !important;
				margin: 0 auto;
				display:block;
				margin-top: 110pt;
				padding: 12px;
				height: 1050px;
				width: 700px;
				vertical-align: top;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
		    }
		    
		    .learnContent h2 {
		    	font-size: 25pt;
				text-align: left !important;    
		    } /* end learnContent */
		    
		    .learnContent p {
              font-size: 16pt;
            } /* end */
		    
		   #learnContentSections {
		    	padding-top: 50px;
		    	padding-bottom: 10px;
		    	
		   }
               
            /* Highlighted orange & bold words in the card headers*/
            span.text-orange {
                color: #F93D00 !important;
            } /* end  */
            
            /* Highlighted teal in .teamText about.html headers*/
            span.text-teal {
            	color: #59AC98;
            } /* end */
                 
            /* The paragraph sections in individual cards */ 
            .termsContent p {
                font-size: large !important;
                color: #6B6765;
            } /* end */
               
            /* Terms and Conditions card content styling */
		    .termsContent {
				position: relative;
				display: inline-block;
				padding: 12px;
				height: auto;
				width: 980px;
				min-width: 55em;
				vertical-align: top;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
				text-align: left;
		    }
		    
		    .termsContent h2 {
				text-align: center !important;    
		    } /* end  Terms and Cond. */
		    
		    
		    /* Styling in about.html .aboutContainer for the team photo and team text information */
		    .aboutContainer {
		    	margin: 0 auto;
		    	margin-top: -65px;
				position: relative;
				display:table;
				padding: 8px;
				height: auto;
				width: 980px;
				min-width: 55em;
				vertical-align: top;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
				text-align: left;
		    }
		    
		    .aboutContent#left {
				background-color: #F5EBE7;
				float: left;
				display: inline;
				height: 180px;
				width: 450px;
				margin-left: 5px;
				margin-bottom: 45px
				
		    } 
		    
		    .aboutContent#right {
				background-color: #F5EBE7;
				float: right;
				display: inline;
				height: 180px;
				width: 450px;
				margin-left: 5px;
				margin-bottom: 45px
				
		    } 
		    
		    .teamText {
		    	width: 300px;
		    	height: auto;
		    	display: inline;
		    	float: right;		    	
		    }
		    
		    .teamPhotos {
		    	width: 140px;
		    	height: auto;
		    	display: inline;
		    }
		    
		    .teamPhotos > img {
		    	margin-top: 24px;
		    } /* end about.html .aboutContainer styling */
		    
		    
		    .videoRegContainer {
		    	/*height: 35em;*/
		    	width: 85em;
		    	height: 30em;
		    	margin: 0 auto;
		    	position: relative !important;
		    }
		    
		      	/* Video content */  
              .video-content {
				display: inline-block !important;
		        padding: 0.5em;
				float: left;
				background-color: #fff;
				box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.24);
			
			 } /* end */
		    
		    .form-content {	    	
		    	float: right;
		    	padding-top: 5em;
		    }
		    
		    .formSize {
		    	width: 40em;
		    	min-width: 25em;
		    	
		    }
	    
			.content {
			  -webkit-animation-duration: 0.4s;
			  animation-duration: 0.4s;
			  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
			  -webkit-animation-name: slideUp;
			  animation-name: slideUp;
			  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
			 }
			
			@-webkit-keyframes slideUp {
			  0% {
			    -webkit-transform: translateY(6.25rem);
			    transform: translateY(6.25rem); 
			   }
			
			  100% {
			    -webkit-transform: translateY(0);
			    transform: translateY(0); } }
			@keyframes slideUp {
			  0% {
			    -webkit-transform: translateY(6.25rem);
			    transform: translateY(6.25rem); }
			
			  100% {
			    -webkit-transform: translateY(0);
			    transform: translateY(0); } }
			    
			    
			    
			    /*Full Name form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputFullName {
				    background-image: url(../images/fullname-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputFullName:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}
			    
			    
			    /*Email form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputEmail {
				    background-image: url(../images/mail-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputEmail:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}
				
				/*Password form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputPassword, input#inputConfPassword {
				    background-image: url(../images/password-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputPassword:focus, input#inputConfPassword:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				
				}
				
					
				/*Phone form input icon
			    icon height: 10.441px
			    50% gray*/
			    input#inputPhone {
				    background-image: url(../images/phone-content.png);
				    background-position: 10px center;
				    background-repeat: no-repeat;
				    border: 1px solid #ccc;
				    
				    -webkit-border-radius: 4px;
				    -moz-border-radius: 4px;
				    -ms-border-radius: 4px;
				    -o-border-radius: 4px;
				    border-radius: 4px;
				    
				    padding: 10px 5px;
				    text-indent: 28px;
				    
				    -webkit-transition: all 0.2s;
				    -moz-transition: all 2s;
				    transition: all 0.2s;
			    }
			    
			    input#inputPhone:focus {
				    /* Picked a random icon from Google */
				    background-position: -20px center;
				    text-indent: 0;
				}
				
				.contact-container { 
					margin-top: -68px
				}
				
				/* Contact-content styling */
				#contact {
					float: none;
					width: 600px;
					margin: 0 auto;
					padding-left: 24px;
				} /* end */		
				
				/* Comment section: added a text area box and styled it to match the forms */
				form.form-content div.form-group textarea:focus{
	                border-color: #F95722 !important;
	                box-shadow: none !important;  
	            }
	            
	            form.form-content div.form-group textarea:hover {
	                border-color: #F95722 !important;  
	            } /* end */
	            

				/* Social media icon styling */
				#facebook-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 3px;
				}
				
				#facebook > path:hover {
					fill:  #3B5998 !important;
				}
				
				#twitter-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 3px;
				
				}
				
				#twitter-icon  path:hover {
					fill:  #33CCFF !important; 
				} 
				
				#googleplus-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 5px;
				}
				
				#googleplus g path:hover {
					fill:  #DC4A38 !important;
				}
				
				#linkedin-icon {
					padding-left: 0px;
					padding-right: 0px;
					margin-left: 7px;
				}
				
				#linkedin > path:hover {
					fill:  #4875B4 !important;
				}
				/* end */

				
				.downloadContainer #appstore-icon  {
					bottom: 0;
					margin: 0 auto;
					width: 136px;
					height: 43px;
				} /* end */
				
						
				/*header styling for each page */
				/* news.html */
				.news-header {
					width: 518px;
					margin: 0 auto;
					text-align: left;
					padding-bottom: 20px;
					margin-top: -30px;
				}
				
				/* about.html */
				.aboutus-header {
					width: 980px;
					margin: 0 auto;
					text-align: left;
					padding-bottom: 80px;
					margin-top: -40px;
				}
				
				/* enterprise.html */
				.enterprise-header {
					width: 700px;
					margin: 0 auto;
					text-align: left;
					padding-bottom: 5px;
					margin-top: -20px;
				}
				
				/* contact.html */
				.contact-header {
					width: 552px;
					margin: 0 auto;
					text-align: left;
				}
				
				/* contactt.html address info sytling */	
				.contact-info {
					font-size: 14pt;
					width: 560px;
					margin: 0 auto;
					text-align: left;
					margin-top: 50px;
				}/* end */
				
				/* "New to SwiftCeipt" text and Sign up button */
				.bottomheader-content {
					width: 300px;
					height: 122pt;
					margin: 0 auto;
					text-align: center;
					padding-top: 5px;
				}	
				
				.bottomheader-content h2 {
					padding-left: 26px;
				}
				
				#signuplink {
					width: 300px;
				}
				
				#learnmorelink {
					margin-top: 5pt;
					width: 300px;
				}
				
				.navbar-bottom {
					height: auto;
					margin: 0 auto;
					width: 100%;
				}

				.panel-images {
					background-image: url("../images/organized-zen.jpeg") !important;
					max-width: 100%;
					height: 50em;
					/* background-repeat: no-repeat; */
				}

				.error-image {
					background-image: url("../images/crumpled paper1.png");
					background-position: center;
					background-size: 30%;
					padding: 10em;
					background-repeat: no-repeat;
				}

				.panel {
					margin: 0 auto;
					height: 40em;
				}

				.list-panel {
					max-width: 100%;
					height: 25em;
				}

				.download-panel {
					max-width: 100%;
					background-color: #6B6765;
					height: 20em;
				}

				.form-panel {
					width: 100%;
					height: 100%;
					padding: 10%;
				}

				.info-image-panel {
					height: 100em;
				}



			/*@media (min-width: 1200px) {
				.content-panel {
					margin: 0 auto;
					width: 850px;
					height: 100%;
					padding: 200px;
				}
			}

			@media (min-width: 768px) {
				.content-panel {
					margin: 0 auto;
					width: 700px;
					height: 100%;
					padding: 200px;
				}
			}

			@media (min-width: 768px) {
				.content-panel {
					margin: 0 auto;
					width: 700px;
					height: 100%;
					padding: 200px;
				}
			}

			@media (min-width: 200px) {
				.content-panel {
					margin: 0 auto;
					width: 410px;
					height: 100%;
					padding: 132px;
				}
			} */

			.content-panel {
				margin: 0 auto;
				width: 50%;
				/*height: 100%;
				padding: 210px; */
				padding-top: 10%;
			}

			.content-list {
				margin: 0 auto;
				height: 100%;
				padding-top: 9em;
			}


			/* Below are the styles for the landing page text headers and list */
			.xlg-orange-txt {
				font-size: 3.66em;
				color: #F95722;
			}

			.lg-white-txt {
				font-size: 2.66em;
				color: #ffffff;
			}

			.md-teal-txt {
				font-size: 1.66em;
				color: #59AC98;
			}

			.list-txt-size {
				font-size: 1.05em;
			}

			.lg-black-txt {
				font-size: 2.66em;
				color: #000000;
			}

			div.transbox {
				margin: 30px;
				padding: 5px;
				border: none;
				background: rgba(188, 188, 188, 0.4);
			}

			@media screen and (max-width: 500px) {
				body {
					max-height: 100%;
				}

				.list-panel {
					font-size: 68%;
					padding-bottom: 30em;
				}
				.btn {
					font-size: 1em;
				}

				.content-panel ul {
					font-size: 35%;

				}



			}