<!-- BOTTOM navigation bar -->
<nav role="navigation" class="navbar navbar-default navbar-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapseBottom" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapseBottom" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="bottomNav">
                <li><a href="privacy_terms.html" target="_self">Privacy & Terms</a></li>
                <li><a href="about.html" target="_self">About Us</a></li>
                <li><a href="contact.html">Contact us</a></li>
            </ul>
        </div>
        <div class="container text-center">
            <footer>
                <p>&copy;2014, SwiftCeipt, LLC.
            </footer>
        </div>
    </div>
</nav>
<!-- end BOTTOM navigation bar -->