<!-- BOTTOM navigation bar -->
<nav role="navigation" class="navbar navbar-default  navbar-bottom">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapseBottom" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbarCollapseBottom" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" id="bottomNav">
                <li><a href="terms-of-use.html" target="_self">Terms of Use</a></li>
                <li><a href="privacy.html" target="_self">Privacy</a></li>
                <li><a href="meet-the-team.html" target="_self">Meet the Team</a></li>
                <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
        </div>
        <div class="container text-center">
            <footer>
                <p>&copy;2014, SwiftCeipt, LLC.
            </footer>
        </div>
    </div>
</nav>
<!-- end BOTTOM navigation bar -->