<!-- TOP navigation bar -->
<nav  role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="home.html" class="navbar-brand">
            <img alt="Home" src="app/images/origami-bird-logo-1024.png" height="38" width="38"></a>
    </div>  <!--  end navbar header -->

    <div id="navbarCollapse" class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
            <li><a href="how-it-works.html" target="_self">HOW IT WORKS</a></li>
            <li><a href="features.html" target="_self">FEATURES</a></li>
            <li><a href="vendor-info.html" target="_self">VENDORS</a></li>
            <li><a href="support.html" target="_self">SUPPORT</a></li>
        </ul>
        <div class="signin-navbar btn-group-lg  navbar-brand">
            <a class="btn btn-success btn-lg" role="button" href="/signup">SIGN UP</a>
        </div>
    </div>
</nav>