<!-- Main info header with image -->
<div class="panel-images">
    <div class="row content-panel">
        <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 transbox">
            <ul class="list-unstyled">
                <li><span class="xlg-orange-txt">BE MINDFUL OF YOUR RECEIPTS</span></li>
                <li><span class="lg-white-txt">THEY ARE IRREPLACEABLE</span></li>
                <li><span class="lg-white-txt">LET US HELP</span></li>
            </ul>
            <p><a class="btn btn-success btn-lg" role="button" href="#/signup">SIGN UP FREE</a></p>
        </div>
    </div>
</div>

<!-- List info panel -->
<div class="list-panel">
    <div class="row content-list">
        <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4">
            <ul class="list-unstyled">
                <li><span class="md-teal-txt">Lost receipts? No worries</span></li>
                <li>
                    <p><span class="list-txt-size">
                        Freely retrieve all of your receipts</br>
                        from a secure personal account. </span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4">
            <ul class="list-unstyled">
                <li><span class="md-teal-txt">Chaotic crinkled mess? No longer</span></li>
                <li>
                    <p> <span class="list-txt-size">
                        Once frustrating, receipts are now  <br>
                        easily organized and categorized for you.</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-lg-offset-0 col-md-4 col-sm-4">
            <ul class="list-unstyled">
                <li><span class="md-teal-txt">Receipt transactions? Simple</span></li>
                <li>
                    <p> <span class="list-txt-size">
                         Select the receipts then send to <br>
                         your employer, tax agency, friends. </span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="info-image-panel">
    <div class="row">
        <img src="app/images/swfitceipt_info.png" height="1220" width="800"/>
    </div>
</div>