<!-- Temporary registration for interested users -->
<div class="container form-panel">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4" ng-controller="LoginCtrl as ctrl">
            <form action="#/x-services/signup" ng-submit="ctrl.submit();" class="form-group-lg form-horizontal"
                                                            method="post" name="registration" id="registration" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputFullName" ng-init="ctrl.user.name='John Smith'"
                                    name="fname"  ng-model="ctrl.user.name" ng-minlength="2" ng-maxlength="255" required />
                    <span class="red-txt" ng-show="registration.fname.$error.required">
                    This is a required field
                    </span>
                    <span class="red-txt" ng-show="registration.fname.$error.minlength">
                    Minimum length required is 2
                    </span>
                    <span class="red-txt" ng-show="registration.fname.$invalid">
                    This field is invalid
                    </span>
                </div>
                <div class="form-group">
                    <input type="email" name="uemail" class="form-control" id="inputEmail" ng-init="ctrl.user.email='John.Smith@hotmail.com'"
                                                                    ng-model="ctrl.user.email" maxlength="255" required />
                    <span class="red-txt" ng-show="registration.uemail.$error.required">
                    This is a required field
                    </span>
                    <span class="red-txt" ng-show="registration.uemail.$error.minlength">
                    Minimum length required is 2
                    </span>
                    <span class="red-txt" ng-show="registration.uemail.$invalid">
                    This field is invalid
                    </span>
                </div>
                <div class="form-group">
                    <input type="password" name="upass" class="form-control" id="inputPassword" ng-minlength="6"
                           ng-init="ctrl.user.password='swiftceiptrocks'" ng-model="ctrl.user.password" maxlength="255" required />
                    <span class="red-txt" ng-show="registration.upass.$error.required">
                    This is a required field
                    </span>
                    <span class="red-txt" ng-show="registration.upass.$error.minlength">
                    Minimum length required is 6</span>
                    <span class="red-txt" ng-show="registration.upass.$invalid">
                    This field is invalid
                </div>
                <div class="form-group">
                    <input type="password" name="upass2" class="form-control" id="inputConfPassword" ng-minlength="6"
                           ng-init="ctrl.user.password2='swiftceiptrocks'" ng-model="ctrl.user.password2" maxlength="255" required />
                    <span class="red-txt" ng-show="registration.upass2.$error.required">
                    This is a required field
                    </span>
                    <span class="red-txt" ng-show="registration.upass2.$error.minlength">
                    Minimum length required is 6
                    </span>
                    <span class="red-txt" ng-show="registration.upass2.$invalid">
                    This field is invalid
                </div>
                <div class="form-group text-center">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="ctrl.user.agree" name="uagree" value="1" required>
                            I have read and agree to the <a href="privacy_terms.html">Terms of Use and Privacy Policy</a>.
                    </label>
                    <span class="red-txt" ng-show="registration.uagree.$error.required">
                    <br>This is a required field
                </div>
                <div class="form-group">
                    <input type="submit" ng-disabled="registration.$invalid" class="btn btn-primary btn-lg btn-block" value="SIGN UP">
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!-- End temp registration -->