<!-- Temporary registration for interested users -->
<div class="container form-panel">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="#/x-services/signup" class="form-group-lg form-horizontal" method="post" name="registration" id="registration" novalidate>
                <div class="form-group">
                    <input type="text" class="form-control" id="inputFullName" ng-init="user.name='John Smith'" ng-model="user.name" maxlength="255" required>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="inputEmail" ng-init="user.email='John.Smith@hotmail.com'" ng-model="user.email" maxlength="255" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputPassword" ng-init="user.password='swiftceiptrocks'" ng-model="user.password" maxlength="255" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputConfPassword" ng-init="user.password='swiftceiptrocks'" ng-model="user.password" maxlength="255" required>
                </div>
                <div class="form-group text-center">
                    <label class="checkbox-inline">
                        <input type="checkbox"name="agree" value="1" required> I have read and agree to the <a href="privacy_terms.html">Terms of Use and Privacy Policy</a>.
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="SIGN UP">
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!-- End temp registration -->